[user]
  name = ilyabe@gmail.com
  email = ilya.bernshteyn@rate.com
[alias]
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = green
  remote = red
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  excludesfile = "~/.gitignore_global"
[branch "master"]
  remote = origin
  merge = refs/heads/master
[push]
  default = simple
[remote "origin"]
  push = HEAD
[git-pair]
  authors = Ilya Bernshteyn <ilya.bernshteyn@rate.com>

